/*Page*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

header {
    margin: 10px auto;
    /*text-align: center;*/
    font-size: xx-large;
    font-weight: bold;
    color: #555555;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 26px;
    border-top: 1px solid #dee2e6;
    text-align: center;
}

/*Form*/
form {
    margin-top: 10px;
}

label {
    /*margin: 0 auto;*/
}

small {
    /*margin-top: 0;*/
}

textarea {
    /*width: 600px;*/
    /*margin: 0 auto;*/
    /*border-color: #dee2e6;*/
}

input[type=text], input[type=number] {
    /*width: 200px;*/
    /*margin: 0 auto;*/
}

input[type=submit] {
    /*width: 200px;*/
    /*margin: 8px auto;*/
}

/*Json*/
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 0;
}

.string {
    color: green;
}

.number {
    color: magenta;
}

.boolean {
    color: blue;
}

.null {
    color: pink;
}

.key {
    color: red;
}

/*Common*/
.margin_left {
    /*margin-left: 0 !important;*/
}
